@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

#root {
	flex: 1;
	flex-direction: column;
}

body {
  background-color: #1c1c1c;
  color: #e0e0e0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body::before::-webkit-scrollbar {
  width: 4px;
}

input:focus {
  border: 1px solid #adadad; /* Change the border color */
  border-radius: 0px; /* Change the border radius */
  outline: none; /* Remove the default outline */
}

footer {
  margin-top: 0;
  padding-top: 0;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.thumb-vertical {
	border-radius: inherit;
	background-color: rgba(63, 63, 63, 0.5);
	width: 6px !important;
}

.track-vertical {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 12px !important;
	right: 0px;
	bottom: 2px;
	top: 2px;
	border-radius: 5px;
	background-color: rgba(14, 14, 14, 0.5);
	padding: 3px 0 3px 0;
}
.hide-track {
	background-color: rgba(14, 14, 14, 0);
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}
